*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lavender;
}


.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.logo{
    font-size: 40px;
    font-weight: 40px;
    padding: 15px;
}
.button{
    background-color:cadetblue;
    color: aliceblue;
    height: 70px;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    cursor: pointer;
}
.button:hover{
    background-color:brown;
    color:burlywood;
}
.input{
    width: 1560px;
    height: 100px;
    text-align: center;
    font-size: 1.3em;
}
#input-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#submit{
    margin-left: 15px;
    margin-top: 10px;
}
#message{
    display: none;
    font-size: 1.5em;
    background-color: mediumorchid;
    color: rgb(225, 211, 211);
    padding: 5px 15px;
}
#lives-text{

    font-size: 2em;
    font-weight: 500;
    color:rgb(38, 128, 0);
    text-align: center;

}